
/*navbar styling*/
nav.navbar {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #474e5d;
    color: #f3ffff;
    border-radius: 0px;
    font-size: large
}

nav a {
    color: #f3ffff;
}

/*header styling*/
.jumbotron {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
}

div.jumbotron.col-md-9 {
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom: 390px;
    border-radius: 0px;
    text-align: center;
    color: #f3ffff;
}

div.col-md-3 {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('Images/Versilia.jpg');
    background-size: cover;
    padding-bottom: 550px;
}

h1.jumbotext {
    margin-top: 0;
    padding: 0;
    padding-top: 35px;
}

h2.jumbotext {
    margin: 0;
    padding: 0;
}

#locations {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #474e5d;
    color: #f3ffff;
    border-radius: 0px;
    font-size: large;
    text-align: center
}

#h2locations {
    margin-bottom: 0px;
    margin-top: 40px;

}

#h3locations {
    margin-bottom: 40px;
    margin-top: 10px;
}

.locationpic {
    width: 500px;
    padding-top: 60px;
    padding-left: 60px;
}
div.caption.col-md-8 {
    padding-left: 60px;
    padding-top: 120px;
    text-align:left;
    padding-right:120px;
}
a.btn{
    background-color: #474e5d;
    color: #f3ffff;
}
div.col-md-4{
    padding:0;
}
div.location2 {
    background-color: #474e5d;
    color: #f3ffff;
}
.locationRows{
    padding-bottom:50px;
}
#secondbutton {
    background-color: #f3ffff;
    color: #474e5d;
}