
/*navbar styling*/
nav.navbar {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #474e5d;
    color: #f3ffff;
    border-radius: 0px;
    font-size: large
}

nav a {
    color: #f3ffff;
}

/*header styling*/
.jumbotron {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
}

div.jumbotron.col-md-9 {
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom: 390px;
    border-radius: 0px;
    text-align: center;
    color: #f3ffff;
}

#mappicture {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('Images/Versilia.jpg');
    background-size: cover;
    padding-bottom: 550px;
}

h1.jumbotext {
    margin-top: 0;
    padding: 0;
    padding-top: 35px;
}

h2.jumbotext {
    margin: 0;
    padding: 0;
}

.inbetweens {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #474e5d;
    color: #f3ffff;
    border-radius: 0px;
    font-size: large;
    text-align: center
}

#h2locations {
    margin-bottom: 0px;
    margin-top: 40px;
}

#h3locations {
    margin-bottom: 40px;
    margin-top: 10px;
}

.locationpic {
    width: 500px;
    padding-top: 60px;
    padding-left: 60px;
}

div.caption.col-md-8 {
    padding-left: 60px;
    padding-top: 120px;
    text-align: left;
    padding-right: 120px;
}

a.btn {
    background-color: #474e5d;
    color: #f3ffff;
    border: solid
}

#mountainVilla {
    padding: 0;
}

div.location2 {
    background-color: #474e5d;
    color: #f3ffff;
}

.locationRows {
    padding-bottom: 50px;
}

#secondbutton {
    background-color: #f3ffff;
    color: #474e5d;
    border: solid
}

/*Ammenities Style Starts here*/

#ammenitiesbox1 {
    margin: 0;
    padding: 0;
    width: 348px;
}

.thumbnail {
    border: 0;
}

#ammenitiesbox2 {
    text-align: center;
    width: 348px;
}

#ammenitiesbox3 {
    margin: 0;
    padding: 0;
    width: 348px;
}

#ammenitiesSection1 {
    margin-top: 60px;
}

.ammenititesImg {
    margin: 0;
    padding: 0;
}

#receptionsBtn {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -55px;
    opacity: .9;
    border-color: transparent;
}

#PoolBtn {
    position: absolute;
    width: 120px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -55px;
    opacity: .9;
    border-color: transparent;
}

#ammenitiesbox4 {
    text-align: center;
    width: 348px;
}

#ammenitiesbox5 {
    text-align: center;
    width: 348px;
}

#ammenitiesbox6 {
    text-align: center;
    width: 348px;
}

#homeBtn {
    position: absolute;
    width: 120px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -55px;
    opacity: .9;
    border-color: transparent;
}

#viewsBtn {
    position: absolute;
    width: 120px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -55px;
    opacity: .9;
    border-color: transparent;
}

#dinningBtn {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -55px;
    opacity: .9;
    border-color: transparent;
}


/*CAROUSEL STYLE STARTS HERE*/

.message {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.name {
    text-align: center;
    font-size: 15px;
}

.carousel-inner {
    margin-bottom: 0px;
    border-bottom-width: 50px;
    padding-bottom: 60px;
}
/*form STYLE STARTS HERE*/


#formtext {
    color: #474e5d;
    font-size: 20px;
    bottom: 0px;
    top: 80px;
    padding-left: 60px;
}

#form {
    border-top-width: 0px;
    padding-top: 60px;
    border-bottom-width: 60px;
    padding-bottom: 60px;
}

#submitBtn {
    background-color: #474e5d;
    color: #f3ffff;
    border: solid;
    text-align: right;
}
